.is-hidden {
  display: none;
}

.show {
  display: inherit;
}

:host ::ng-deep {
  .mat-accent .mat-slider-thumb {
    border: 1px solid #d9d9d9;
    background: #fff;
    color: #d9d9d9;
    box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
  }
  .mat-accent .mat-slider-thumb-label,
  .mat-accent .mat-slider-track-fill {
    background: var(--bpmn-bg-dark);
  }
}

:host ::ng-deep nouislider {
  margin: 0;
}

:host ::ng-deep nouislider .noUi-target {
  margin: 0;
  box-shadow: none !important;
}

:host ::ng-deep nouislider .noUi-horizontal .noUi-handle {
  --bpmn-control-width: 18px;
  width: var(--bpmn-control-width);
  height: 28px;
  left: -calc(var(--bpmn-control-width) / 2);
  top: -6px;
  margin: 0;
  box-shadow: none !important;
  &::before,
  &::after {
    content: none;
  }
}
