<div class="zoom-main">
  <div class="zoom-main__icons">
    <img
      src="assets/icons/keyboard_arrow_down.svg"
      [ngClass]="{'is-hidden': !open }"
      (click)="onArrowDown()">
    <img
      src="assets/icons/keyboard_arrow_up.svg"
      [ngClass]="{'is-hidden': open }"
      (click)="onArrowUp()">
  </div>
  <div class="zoom-main__controls">
    <img
      src="assets/icons/zoom_out_map.svg"
      [ngClass]="{'is-hidden': !open}"
      (click)="onRestartZoom()">
  </div>
  <ng-content></ng-content>
  <div class="zoom-main__footer">
    <mat-slider
      *ngIf="useMaterial"
      [max]="zoomMax"
      [min]="zoomMin"
      [value]="bindingValue"
      [step]="zoomStep"
      [displayWith]="displayWithThumb"
      (input)="onSliderInput($event)">
    </mat-slider>
    <nouislider
      *ngIf="!useMaterial"
      [min]="zoomMin"
      [max]="zoomMax"
      [step]="zoomStep"
      [ngModel]="bindingValue"
      (update)="onUpdateSlider($event)">
    </nouislider>
  </div>
</div>
