<div class="bpmn-upload__option__item" (click)="clickDownload($event)">
  <svg id="cloud_download-24px" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
    <path id="Path_664" data-name="Path 664" d="M0,0H24V24H0Z" fill="none"/>
    <path id="Path_665" data-name="Path 665" d="M19.35,10.04a7.492,7.492,0,0,0-14-2A6,6,0,0,0,6,20H19a4.986,4.986,0,0,0,.35-9.96ZM17,13l-5,5L7,13h3V9h4v4Z" fill="#d9d9d9"/>
  </svg>
</div>
<div class="bpmn-upload__option__item" (click)="clickDelete($event)">
  <svg id="delete-24px" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
    <path id="Path_662" data-name="Path 662" d="M6,19a2.006,2.006,0,0,0,2,2h8a2.006,2.006,0,0,0,2-2V7H6ZM19,4H15.5l-1-1h-5l-1,1H5V6H19Z" fill="#d9d9d9"/>
    <path id="Path_663" data-name="Path 663" d="M0,0H24V24H0Z" fill="none"/>
  </svg>
</div>
<div class="bpmn-upload__option__item" (click)="clickPreview($event)">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" fill="#d9d9d9"/>
  </svg>
</div>
