<div class="bpmn-property-toggle__header" (click)="onHeaderClick()">
  <div class="bpmn-property-toggle__header__title">
    {{ title }}
  </div>
  <ng-container *ngIf="hostActive">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path class="arrow" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </ng-container>
  <ng-container *ngIf="!hostActive">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path class="arrow" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
      <path fill="none" d="M0 0h24v24H0V0z"/>
    </svg>
  </ng-container>
</div>
<div class="bpmn-property-toggle__body">
  <div class="bpmn-property-toggle__body__wrapper">
    <ng-content></ng-content>
  </div>
</div>
