:root {
  --bpmn-bg-dark: #5e5e5e;
  --bpmn-menu-delay: .2s;
  --bpmn-menu-width: 300px;
  --bpmn-color-active: #f7ae29;
  --bpmn-purple: #d2c1db;
  --bpmn-blue: rgb(149, 218, 245);
  --bpmn-red: rgb(240, 145, 145);
}
